---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/screens/Header.astro";
import Footer from "../../../components/screens/Footer.astro";
import BigTitle from "../../../components/primitives/text/BigTitle.astro";
import MediumTitle from "../../../components/primitives/text/MediumTitle.astro";
import Paragraph from "../../../components/primitives/text/Paragraph.astro";
import TeamMemberCard from "../../../components/blocks/TeamMemberCard.astro";
import olmoPhoto from "../../../../public/img/pictures/olmo.jpg";
import lauraPhoto from "../../../../public/img/pictures/laura.jpg";
import eduPhoto from "../../../../public/img/pictures/edu.jpg";
import eliasPhoto from "../../../../public/img/pictures/elias.jpg";
import ivanPhoto from "../../../../public/img/pictures/ivan.jpeg";
import neusPhoto from "../../../../public/img/pictures/neus.png";
import IconCardWithText from "../../../components/blocks/IconCardWithText.astro";
import CardWithTitleSubtitle from "../../../components/blocks/CardWithTitleSubtitle.astro";
import CybersecurityEnthusiastsPhoto from "../../../../public/img/pictures/cybersecurity-enthusiasts.jpeg";
import SeniorProfessionalsPhoto from "../../../../public/img/pictures/senior-professionals.jpeg";

const lang = "en";
---

<Layout lang={lang} title="About the project">
  <Header lang={lang} />
  <main
    class="max-w-3xl bg-gradient-to-br from-[#465FFF] to-[#FFFFFF] md:max-w-none"
  >
    <br />
    <BigTitle titleText="The project" extraCss="text-center" />
    <Paragraph
      text="Meet the passionate team that makes this community possible"
      extraCss="text-center"
    />
    <br />
    <MediumTitle titleText="Our audience" extraCss="text-center" />
    <div
      class="mx-auto w-4/5 grid-rows-1 content-center gap-4 p-6 md:grid md:grid-cols-[3fr,3fr,4fr]"
    >
      <div class="mb-4 mt-6 md:mb-0">
        <CardWithTitleSubtitle
          photo={CybersecurityEnthusiastsPhoto}
          photoAltText="Cybersecurity team photo"
          title="Cybersecurity enthusiasts"
          subtitle="Our projects and ideas await, become the leader of tomorrow!"
        />
      </div>
      <div class="my-auto">
        <CardWithTitleSubtitle
          photo={SeniorProfessionalsPhoto}
          photoAltText="Cybersecurity team photo"
          title="Senior professionals in cybersecurity"
          subtitle="Opportunity to mentor the best up and coming cybersecurity talent, inspire tomorrow's leaders!"
        />
      </div>
      <div class="mt-4 md:ml-16">
        <p
          class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
        >
          Our community is made up of industry professionals committed to
          sharing their knowledge and experience.
        </p>
        <p
          class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
        >
          Whether you're interested in learning about the latest trends in
          cybersecurity, networking with others in the industry or keeping up to
          date, you're in the right place.
        </p>
        <ul>
          <li
            class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
          >
            ✓ Events
          </li>
          <li
            class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
          >
            ✓ Trainings
          </li>
          <li
            class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
          >
            ✓ Networking
          </li>
        </ul>
      </div>
    </div>
    <br />
    <MediumTitle titleText="The team" extraCss="text-center" />
    <Paragraph
      text="Check out who works the magic behind the scenes"
      extraCss="text-center"
    />
    <div
      class="mx-auto w-5/6 grid-cols-1 content-center gap-16 rounded-3xl p-6 md:grid md:w-2/3 md:grid-cols-3 md:grid-rows-1"
    >
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={olmoPhoto}
          photoAltText="Olmo Rayón"
          name="Olmo Rayón"
          position="President & Coordination Responsible"
          linkedinLink="https://www.linkedin.com/in/olmorayon/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={lauraPhoto}
          photoAltText="Laura Del Barrio"
          name="Laura Del Barrio"
          position="Secretary & Operations Responsible"
          linkedinLink="https://www.linkedin.com/in/laura-del-barrio-diaz/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={eduPhoto}
          photoAltText="Eduard Xancó"
          name="Eduard Xancó"
          position="Treasurer & Corporate Responsible"
          linkedinLink="https://www.linkedin.com/in/eduardxanco/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={eliasPhoto}
          photoAltText="Elías Solana"
          name="Elías Solana"
          position="External Relations"
          linkedinLink="https://www.linkedin.com/in/elias-solana/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={ivanPhoto}
          photoAltText="Iván Mendez"
          name="Iván Mendez"
          position="Content creator"
          linkedinLink="https://www.linkedin.com/in/ivanmendezrodriguez/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={neusPhoto}
          photoAltText="Neus Boix"
          name="Neus Boix"
          position="Operations Support"
          linkedinLink="https://www.linkedin.com/in/nbc-1885aa108"
        />
      </div>
    </div>
    <br />
    <div class="mx-auto mb-16 w-5/6 md:w-2/3">
      <div
        class="mx-auto flex w-auto flex-col content-center items-center rounded-3xl bg-gradient-to-br from-[#465FFF] to-[#837EDC] p-4 md:p-6 md:px-32 md:py-16"
      >
        <MediumTitle titleText="Our objectives" extraCss="text-center" />
        <Paragraph
          text="Our organization and our community are based on the following mantras:"
          extraCss="text-center"
        />
        <br />
        <div
          class="mx-auto grid w-full grid-cols-1 content-center gap-8 rounded-3xl p-6 md:grid-cols-3 md:grid-rows-1"
        >
          <IconCardWithText iconName="handshake" text="A strong community" />
          <IconCardWithText iconName="map" text="Sustainable organization" />
          <IconCardWithText iconName="compass" text="Best-in-class products" />
        </div>
      </div>
    </div>
    <br />
  </main>
  <Footer lang={lang} />
</Layout>
