---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
const { lang } = Astro.props;
const homeLink = "/" + lang + "/";
const slugTranslations = {
  AboutTheProjectLink: {
    en: "/en/about-the-project",
    es: "/es/sobre-el-proyecto",
  },
  WhatWeDoLink: {
    en: "/en/what-we-do",
    es: "/es/que-hacemos",
  },
  EventsLink: {
    en: "/en/events",
    es: "/es/eventos",
  },
  GalleryLink: {
    en: "/en/gallery",
    es: "/es/galeria",
  },
  JoinTheCommunityLink: {
    en: "/en/become-a-member",
    es: "/es/hazte-miembro",
  },
  BlogLink: {
    en: "/en/blog",
    es: "/es/blog",
  },
  LanguageLink: {
    en: "/es/",
    es: "/en/",
  },
};

function getSlugTranslation(
  key: keyof typeof slugTranslations,
  lang: "en" | "es",
): string {
  return slugTranslations[key][lang];
}

let AboutTheProjectLink = getSlugTranslation("AboutTheProjectLink", lang);
let WhatWeDoLink = getSlugTranslation("WhatWeDoLink", lang);
let EventsLink = getSlugTranslation("EventsLink", lang);
let GalleryLink = getSlugTranslation("GalleryLink", lang);
let BlogLink = getSlugTranslation("BlogLink", lang);
let JoinTheCommunityLink = getSlugTranslation("JoinTheCommunityLink", lang);
let LanguageLink = getSlugTranslation("LanguageLink", lang);

const stringTranslations = {
  HomeString: {
    en: "Home",
    es: "Inicio",
  },
  AboutTheProjectString: {
    en: "About the project",
    es: "Sobre el proyecto",
  },
  WhatWeDoString: {
    en: "What we do",
    es: "Qué hacemos",
  },
  EventsString: {
    en: "Events",
    es: "Eventos",
  },
  GalleryString: {
    en: "Gallery",
    es: "Galería",
  },
  JoinTheCommunityString: {
    en: "Join the community",
    es: "Únete a la comunidad",
  },
  BlogString: {
    en: "Blog",
    es: "Blog",
  },
  LanguageString: {
    en: "Cambiar a Español",
    es: "Switch to English",
  },
};

function getStringTranslation(
  key: keyof typeof stringTranslations,
  lang: "en" | "es",
): string {
  return stringTranslations[key][lang];
}
let HomeString = getStringTranslation("HomeString", lang);
let AboutTheProjectString = getStringTranslation("AboutTheProjectString", lang);
let WhatWeDoString = getStringTranslation("WhatWeDoString", lang);
let EventsString = getStringTranslation("EventsString", lang);
let GalleryString = getStringTranslation("GalleryString", lang);
let BlogString = getStringTranslation("BlogString", lang);
let JoinTheCommunityString = getStringTranslation(
  "JoinTheCommunityString",
  lang,
);
let LanguageString = getStringTranslation("LanguageString", lang);
---

<header class="mx-auto max-w-screen-xl gap-5 p-5 md:flex">
  <Astronav>
    <div class="w-full items-center justify-between md:flex">
      <a
        href={homeLink}
        class="hidden items-center space-x-3 md:flex rtl:space-x-reverse"
      >
        <img
          src="/img/bcncyber-logo-purple.png"
          class="h-16"
          alt="BCNCybersecurity Logo"
        />
      </a>
      <div class="flex lg:hidden">
        <MenuIcon class="mr-4 h-8 w-8 text-gray-800" />
      </div>
      <MenuItems class="hidden md:flex">
        <ul
          class="w-full flex-col items-center rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium md:mt-0 md:flex md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse"
        >
          <li class="pb-2 md:pb-0">
            <a
              href={homeLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              aria-current="page">{HomeString}</a
            >
          </li>
          <li class="pb-2 md:pb-0">
            <a
              href={AboutTheProjectLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              >{AboutTheProjectString}</a
            >
          </li>
          <li class="pb-2 md:pb-0">
            <a
              href={WhatWeDoLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              >{WhatWeDoString}</a
            >
          </li>
          <li class="pb-2 md:pb-0">
            <a
              href={EventsLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              >{EventsString}</a
            >
          </li>
          <li class="pb-2 md:pb-0">
            <a
              href={GalleryLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              >{GalleryString}</a
            >
          </li>
          <li class="pb-2 md:pb-0">
            <a
              href={BlogLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              >{BlogString}</a
            >
          </li>
          <li class="pb-2 md:hidden md:pb-0">
            <a
              href={JoinTheCommunityLink}
              class="block rounded bg-blue-700 px-3 py-2 text-white md:bg-transparent md:p-0 md:text-blue-700"
              >{JoinTheCommunityString}</a
            >
          </li>
        </ul>
        <a
          class="items-left order-2 space-x-0 underline md:hidden rtl:space-x-reverse"
          href={LanguageLink}
        >
          <div>
            {LanguageString}
          </div>
        </a>
      </MenuItems>

      <a
        class="hidden space-x-3 md:order-2 md:flex md:items-center md:space-x-0 rtl:space-x-reverse"
        href={JoinTheCommunityLink}
      >
        <div>
          <button
            type="button"
            class="rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300"
            >{JoinTheCommunityString}</button
          >
        </div>
      </a>
      <a
        class="md:items-left hidden space-x-3 underline md:order-2 md:flex md:space-x-0 rtl:space-x-reverse"
        href={LanguageLink}
      >
        <div>
          {LanguageString}
        </div>
      </a>
    </div>
  </Astronav>
</header>
