---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/screens/Header.astro";
import Footer from "../../components/screens/Footer.astro";

import build38Logo from "../../../public/img/sponsors/build38.png";
import innoITLogo from "../../../public/img/sponsors/innoit.png";
import siemensLogo from "../../../public/img/sponsors/siemens.png";
import CallToAction from "../../components/ui/CallToAction.astro";
import Main from "../../components/ui/Main.astro";
import IconCardWithTitleText from "../../components/ui/IconCardWithTitleText.astro";
import SkylineGraphic from "../../components/ui/SkylineGraphic.astro";
import Page from "../../components/ui/Page.astro";
import Heading from "../../components/ui/Heading.astro";
import LogoCard from "../../components/ui/LogoCard.astro";

const lang = "en";
---

<Layout lang={lang} title="Barcelona Cybersecurity">
  <Page>
    <!-- Div including Header and Main which pushes the footer at the bottom of the page  -->
    <div>
      <Header lang={lang} />
      <Main>
        <div class="p-6 text-center text-balance">
          <SkylineGraphic />
          <Heading>
            <h1>The cybersecurity community in Barcelona</h1>
            <p>
              We are the NGO that inspires the security and privacy leaders of
              the future.
            </p>
          </Heading>

          <div class="p-6">
            <h2>Do you want to join us?</h2>
            <p>New project ideas await you!</p>
            <p class="mb-6">
              Join the largest cybersecurity community in Barcelona and boost
              your growth.
            </p>
            <CallToAction
              text="Join the Community"
              link="/en/become-a-member"
            />
          </div>
        </div>

        <div class="max-w-2xl m-auto text-center p-6">
          <h2>Our values</h2>
          <div class="grid grid-cols-2 gap-4 my-12">
            <IconCardWithTitleText
              iconName="eye"
              title="Our vision"
              text="Expand cybersecurity knowledge in Spain."
            />
            <IconCardWithTitleText
              iconName="compass"
              title="Our mission"
              text="Create a community where security and privacy enthusiasts come together to share knowledge and inspire tomorrow's security leaders."
            />
          </div>
        </div>

        <div class="max-w-2xl m-auto text-center p-6">
          <h2>Our community in numbers</h2>
          <p class="text-balance">
            Since 2016, we launched over 40 events, and our community is
            growing.
          </p>
          <div class="flex justify-center items-center p-6">
            <div class="grid grid-cols-3 gap-24">
              <div>
                <div class="text-5xl font-medium text-center text-white">
                  1200
                </div>
                <p class="text-center">Members</p>
              </div>
              <div>
                <div class="text-5xl font-medium text-center text-white">
                  30
                </div>
                <p class="text-center">Collaborations</p>
              </div>
              <div>
                <div class="text-5xl font-medium text-center text-white">
                  50+
                </div>
                <p class="text-center">Speakers</p>
              </div>
            </div>
          </div>
        </div>

        <div class="max-w-2xl m-auto text-center p-6">
          <h2>Backed by the best</h2>
          <div class="flex justify-center items-center gap-6 p-6">
            <LogoCard imgSrc={build38Logo} imgAltText="Build38 logo" />
            <LogoCard imgSrc={innoITLogo} imgAltText="InnoIT consulting logo" />
            <div class="hidden">
              <LogoCard
                imgSrc={siemensLogo}
                imgAltText="Siemens Healthineers logo"
              />
            </div>
          </div>
        </div>
      </Main>
    </div>
  </Page>
  <!-- End of div including Header and Main which pushes the footer at the bottom of the page -->
  <Footer lang={lang} />
</Layout>
