---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/screens/Header.astro';
import Footer from '../../components/screens/Footer.astro';
import BigTitle from '../../components/primitives/text/BigTitle.astro';
import MediumTitle from '../../components/primitives/text/MediumTitle.astro';
import Paragraph from '../../components/primitives/text/Paragraph.astro';
import { Image } from 'astro:assets';
import groupPhoto from "../../../public/img/pictures/final-event-group-photo.jpeg"
import CybersecurityEnthusiastsPhoto from "../../../public/img/pictures/cybersecurity-enthusiasts.jpeg"
import SeniorProfessionalsPhoto from "../../../public/img/pictures/senior-professionals.jpeg"
import ValuesPhoto from "../../../public/img/pictures/bcncyber-meeting-room.jpeg"
import CardWithTitleSubtitle from '../../components/blocks/CardWithTitleSubtitle.astro';
import IconCardWithTitleSubtitle from '../../components/blocks/IconCardWithTitleSubtitle.astro';
import CallToAction from '../../components/blocks/CallToAction.astro';
const lang = "en"
---

<Layout title="Barcelona Cybersecurity">
	<Header lang={lang}/>
	<main class="bg-gradient-to-br from-[#465FFF] to-[#A8ACFF] md:max-w-none" transition:animate="slide">
		<br/>
		<img class="mx-auto" alt="Barcelona skyline" style="width:800px;height:175px;background:white;-webkit-mask-image:url(&quot;data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xml%3Aspace%3D%27preserve%27%20width%3D%271080%27%20height%3D%27235%27%20overflow%3D%27hidden%27%3E%3Cdefs%3E%3CclipPath%20id%3D%27a%27%3E%3Cpath%20d%3D%27M40%20157h1080v235H40z%27%2F%3E%3C%2FclipPath%3E%3CclipPath%20id%3D%27b%27%3E%3Cpath%20d%3D%27M41%20158h1079v233H41z%27%2F%3E%3C%2FclipPath%3E%3CclipPath%20id%3D%27c%27%3E%3Cpath%20d%3D%27M41%20158h1079v233H41z%27%2F%3E%3C%2FclipPath%3E%3CclipPath%20id%3D%27d%27%3E%3Cpath%20d%3D%27M41%20158h1079v233H41z%27%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20clip-path%3D%27url%28%23a%29%27%20transform%3D%27translate%28-40%20-157%29%27%3E%3Cg%20clip-path%3D%27url%28%23b%29%27%3E%3Cg%20clip-path%3D%27url%28%23c%29%27%3E%3Cg%20clip-path%3D%27url%28%23d%29%27%3E%3Cpath%20fill%3D%27%23FFF%27%20d%3D%27M558.814%20178.652c-.705.53-1.234%204.06-1.234%207.59%200%207.943-1.587%209.71-4.584%205.648-1.763-2.294-2.997-2.647-5.465-1.058-4.056%202.471-7.229%2027.36-7.405%2059.309-.177%2012.533-.706%2022.594-1.235%2022.594-.528%200-3.173-1.59-5.994-3.53-2.645-1.942-7.052-4.237-9.697-5.296-2.644-1.059-5.113-3.354-5.642-5.119-1.234-4.943-9.697-7.767-18.688-6.53-7.053%201.058-7.758.882-7.581-2.649.176-4.942-5.466-8.825-7.582-5.295-.881%201.412-1.586%204.942-1.586%208.12%200%203.176-.882%207.413-2.116%209.53-1.058%202.12-1.763%205.473-1.411%207.592.353%202.824-1.234%204.59-6.17%207.236-3.703%201.943-7.229%204.767-7.758%206.179-.705%201.765-4.231-.706-12.165-9.355-5.994-6.532-11.46-12.887-11.989-14.298-1.234-3.354-9.697-3.178-10.931.176-.529%201.413-3.879%205.649-7.581%209.355-3.526%203.707-10.226%2010.768-14.986%2015.887l-8.463%209.179.176%2023.83c.177%2013.061-.352%2023.829-1.058%2023.829-.705%200-2.82-2.471-4.407-5.472-1.94-3.354-4.232-5.12-6.171-4.766-4.584.706-10.578-4.237-11.46-9.179-.529-3.883-1.41-4.413-8.463-4.59-4.407-.176-8.991-.352-10.402-.352-1.234-.177-6.523-4.766-11.636-10.062-6.523-6.884-9.168-10.767-8.463-13.062%201.234-4.766-5.289-8.296-8.286-4.59-1.234%201.413-1.763%203.708-1.234%205.296.705%201.412-1.058%204.766-3.703%207.59-2.645%202.648-6.523%207.061-8.639%209.709-2.116%202.47-6.171%205.119-8.815%205.648-11.637%202.471-12.871%203.707-12.518%2012.18.529%208.826-3.703%2015.18-9.873%2015.18-3.526%200-3.703-1.059-4.232-18.181-.352-9.885.353-23.653%201.234-30.714%201.411-9.355%201.411-14.121-.176-17.652-1.058-2.647-2.116-6.177-2.116-7.59-.176-1.588-2.292-2.824-4.936-3.176-3.703-.53-4.76.176-5.289%203.53-.529%204.412-3.879%204.06-4.055-.353%200-1.59-1.587-2.648-4.232-2.648-3.173%200-4.584%201.412-6.171%206.178-1.763%205.648-2.644%206.178-9.344%206.708-5.465.353-8.815-.53-12.87-3.354l-5.289-4.06-5.29%203.883c-3.173%202.471-7.757%203.884-11.989%203.884-5.641%200-7.228-.883-8.815-4.413-1.234-2.471-2.116-5.825-2.116-7.238%200-1.941-1.41-2.47-4.76-2.117-3.526.352-4.936%201.588-4.936%203.882%200%204.943-4.056%205.473-4.761.707-.352-3.001-1.763-4.06-4.584-4.06-6.876%200-9.52%2010.59-7.405%2029.125%201.763%2015.886%201.411%2053.484-.529%2058.603-.705%201.765-1.586%204.236-1.939%205.472-.705%202.471-22.744%204.766-47.78%204.766-15.162%200-25.564%201.589-25.564%203.883%200%202.295%2063.823.177%2071.757-2.294%208.639-2.648%209.521-8.297%208.992-51.366-.529-34.598-.353-37.598%202.645-38.128%202.115-.353%202.997.53%202.997%203%200%204.944%206.347%204.944%207.581.178%201.234-4.59%205.818-4.59%207.052%200%20.882%203.177%202.469%203.353%2029.972%203.353%2027.504.177%2029.091-.176%2029.973-3.353%201.234-4.59%204.231-4.59%205.642%200%201.41%204.59%207.933%204.766%207.933.176%200-4.237%202.821-6.354%204.584-3.354.706%201.236%201.058%2017.828.882%2037.068l-.529%2034.95h6.523c8.992%200%2016.749-8.12%2016.749-17.475%200-7.59%202.469-10.767%208.64-10.767%202.997%200%207.052-3%2013.575-9.885%2010.402-11.473%2015.163-12.003%2020.804-2.471%204.584%207.943%2012.871%2012.533%2021.157%2012.003%204.937-.353%207.229.353%207.758%202.118%201.587%205.649%2011.46%2014.121%2015.162%2013.239%202.821-.706%204.584.706%207.229%204.766%201.939%203.177%204.936%206.001%206.699%206.354%202.645.53%202.998-1.588%202.998-24.359%200-24.182.176-25.065%204.407-29.654%2020.805-22.417%2025.565-28.066%2025.565-30.008%200-2.824%202.997-2.647%204.76.353.705%201.413%205.818%207.238%2011.284%2013.062%205.289%205.825%2010.931%2012.356%2012.341%2014.651%203.703%205.295%208.639%203.354%208.639-3.354%200-4.236%201.235-5.648%207.053-8.296%207.405-3.354%2010.402-8.296%207.228-12.18-2.644-3.177%201.411-6.531%206.524-5.118%202.821.705%203.878.176%203.878-1.942%200-3.354%207.053-5.472%2013.047-3.883%202.292.53%205.995%203.883%208.11%207.236%202.116%203.531%204.761%206.002%205.818%205.825%204.408-.706%209.874%202.472%2014.458%208.473%202.468%203.354%205.465%205.649%206.347%205.12.881-.707%201.586-8.826%201.586-18.181%200-18.535%202.998-58.603%204.408-60.016%201.94-1.941%202.821%201.765%203.879%2016.24%201.058%2014.12%202.645%2019.064%205.465%2016.24.529-.708%201.587-11.122%202.292-23.301%201.235-20.829%202.116-25.418%204.232-23.477.352.53%201.763%2013.592%202.997%2029.125l2.292%2028.067%208.815-.707c4.937-.177%209.168-.882%209.697-1.412.529-.353%201.411-12.356%201.94-26.301%201.586-39.716%205.641-37.421%208.462%204.59%201.235%2018.18%202.292%2023.123%204.761%2020.828.529-.706%201.586-10.59%202.468-22.064.882-11.474%201.587-21.005%201.587-21.358.176-.354.881-.176%201.763.353%202.292%201.412%204.055%2019.416%205.289%2053.13.882%2025.066%201.587%2030.008%203.702%2030.008%201.411%200%203.527.53%204.408%201.06%201.058.705%204.937%201.235%208.639%201.235%208.992.353%2010.402%201.942%2010.226%2011.827%200%204.413.705%208.12%201.587%208.12.881.176%202.468.352%203.35.529%203.173.353%205.289%205.119%205.289%2012.003%200%205.472.705%206.708%203.526%206.708%201.939%200%203.526-.707%203.526-1.59%200-.705%201.94-3.53%204.408-6.177%202.468-2.648%204.408-5.472%204.408-6.355%200-.882%201.586-2.118%203.526-2.647%201.939-.53%203.526-2.119%203.526-3.178.176-3.353%206.876-11.473%207.052-8.296%200%201.412%203.703%205.825%207.934%209.708%204.408%203.884%2010.049%208.826%2012.518%2010.944%202.468%202.295%205.113%204.06%205.994%204.06%201.058%200%201.763%202.471%201.763%205.296%200%207.237%203.879%208.296%209.873%202.647%202.821-2.647%206.524-6.001%208.463-7.59%201.763-1.588%203.879-4.766%204.76-7.06%201.764-4.766%205.113-5.12%205.113-.53%200%203.883%204.408%209.002%207.582%209.002%202.82%200%2010.049-11.473%2010.049-15.71%200-1.941.882-4.06%201.763-4.589%201.058-.53%201.763.706%201.763%203%200%205.65%203.879%2013.77%206.7%2013.77%201.41%200%202.116-3.708%202.116-12.357%200-6.884.705-13.768%201.586-15.533.882-1.589%202.645-9.708%203.703-18.005%201.234-8.296%202.644-15.886%203.35-16.769.529-1.06%201.939-5.295%202.997-9.708l1.763-7.944%201.234%208.12c.882%204.59%202.997%209.708%204.76%2011.297%202.292%202.119%203.527%205.473%203.527%209.885%200%203.707.881%207.237%201.763%207.767%201.057.53%201.763%202.648%201.763%204.766%200%202.648.705%203.177%203.173%202.294%203.879-1.765%207.405-1.765%2011.284%200%202.468.883%203.526%200%204.936-3.706.882-2.824%202.645-6.532%203.527-8.12%201.057-1.765%201.763-6.531%201.763-10.591%200-11.65%203.173-20.475%209.873-27.89l6.347-6.883%205.642%205.295c6.876%206.178%209.873%2015.004%209.873%2028.596%200%205.648.882%2010.06%201.939%2010.414%201.235.352%202.998%203.354%204.055%206.707%201.587%204.59%202.821%206.002%205.466%205.649%205.289-.706%206.7-.706%2010.578.53%202.998.882%203.879-.177%205.819-6.002%201.057-4.06%202.115-9.002%202.115-11.297s1.587-5.649%203.526-7.414c1.94-1.765%203.526-5.295%203.526-7.766%200-2.472.706-5.649%201.587-7.061%201.058-1.765%201.94-.706%202.645%203.53.705%203.354%201.939%207.59%202.821%209.532%201.939%204.59%205.289%2023.123%205.289%2029.302%200%204.942%203.35%207.413%207.934%205.825%201.763-.706%202.644-3.354%202.644-7.59%200-3.53%201.764-9.356%204.056-13.063l4.231-6.884%202.997%204.59c1.587%202.471%203.35%207.06%204.055%2010.061.705%203.707%202.997%206.708%206.876%209.003%203.174%201.765%205.995%204.236%206.347%205.471.529%201.236.176%2014.475-.529%2029.478-.705%2015.004-.881%2029.831-.352%2033.009%201.763%2011.297%203.349%2011.65%2049.542%2013.062%2022.92.706%2053.421%201.765%2067.883%202.471%2017.1.883%2025.91.706%2025.91-.353%200-2.648-13.57-3.707-76.691-6.001-45.311-1.766-56.947-2.648-59.416-4.766-2.821-2.472-2.997-5.649-1.939-36.716l1.058-34.067-6.171-3.53c-4.231-2.648-6.876-6.002-8.463-10.768-1.234-3.883-3.35-7.943-4.584-9.002-1.234-1.059-2.821-6.178-3.526-11.473-1.41-11.827-4.408-11.651-6.876.352-1.058%204.767-3.526%2012.003-5.818%2016.063-2.645%205.12-3.526%209.003-2.821%2012.003.529%202.472.353%204.413-.529%204.413-.881%200-2.644-7.943-3.702-17.651-1.058-9.532-2.469-18.534-3.35-19.77-.705-1.235-2.645-7.767-4.055-14.474-1.411-6.708-3.526-12.533-4.584-12.886-1.234-.352-2.821%203.884-4.232%2010.944-1.234%206.532-3.173%2012.18-4.584%2012.709-1.234.53-2.644%205.119-3.349%2010.768-1.763%2015.71-3.703%2019.24-10.755%2020.122-5.466.706-5.995.354-5.995-4.06%200-2.648-1.057-5.118-2.468-5.648-1.41-.53-2.644-4.942-3.173-12.18-1.058-12.003-5.642-23.123-11.989-28.418-2.116-1.766-3.526-4.943-3.35-7.061.529-6.707-2.292-18.888-4.408-18.888-2.468%200-6.699%2014.652-5.289%2018.535.705%201.588-1.234%205.296-5.113%209.709-7.052%207.59-10.755%2018.356-10.226%2029.301.353%205.296-.352%207.59-2.292%208.296-1.763.706-2.821%203.177-2.821%206.53%200%204.59-.529%205.12-2.997%203.884-1.763-.882-4.231-1.235-5.465-.882-3.879%201.412-7.053-4.943-8.287-16.592-.705-6.179-2.116-11.651-3.35-12.357-1.234-.882-3.35-6.354-4.76-12.533-1.234-6.177-3.173-11.296-4.231-11.473-.882-.176-2.998%205.119-4.584%2012.003-1.411%206.708-3.526%2014.474-4.761%2017.122-1.057%202.648-2.468%2010.944-3.173%2018.534-1.058%2012.886-2.821%2018.181-5.995%2018.181-.705%200-1.057-6.884-.881-15.533.352-8.473-.353-16.769-1.234-18.534-1.587-3.001-1.94-3.001-4.761-.53-2.468%202.295-2.997%206.531-3.349%2026.125-.353%2018.004-1.058%2025.065-3.527%2030.007-1.586%203.707-3.526%206.708-4.055%206.708-.529%200-2.115-3.707-3.526-8.473-3.35-10.59-8.463-11.473-11.283-1.941-1.764%206.354-6.347%2012.18-9.345%2012.18-1.058%200-2.292%201.058-2.821%202.117-.529%201.589-1.41%201.412-2.821-.882-1.057-1.589-2.644-3.001-3.526-3.001-.705%200-3.526-1.765-6.17-3.883-12.695-10.944-17.807-16.946-19.923-24.006-1.411-4.413-3.35-7.414-4.937-7.414-2.644%200-3.173%201.06-4.936%209.179-.706%202.647-3.879%207.413-7.229%2010.767-3.35%203.354-6.171%206.884-6.171%207.767%200%201.588-3.878%204.06-6.17%204.06-.177%200-1.587-5.12-2.821-11.297-1.587-8.12-2.998-11.65-5.29-12.18-2.115-.53-3.526-3.354-4.231-9.003-1.587-10.59-5.465-13.414-7.052-5.118-1.058%205.118-1.234%205.118-2.469.529-1.586-5.648-7.228-7.06-7.228-1.765%200%202.118-.705%203.178-1.763%202.648-.882-.53-1.763-2.648-1.763-4.413%200-1.765-.706-3.53-1.587-3.883-.882-.353-2.645-14.475-3.703-31.42-3.349-48.542-3.526-50.307-8.815-50.307-3.879%200-4.408.883-4.936%206.532-.353%203.706-1.235%206.706-2.292%206.706-1.411%200-1.94-3.53-2.292-18.357-.177-6.355-4.937-9.708-8.816-6.53-1.587%201.235-2.644%204.059-2.644%206.177%200%201.942-1.058%2015.71-2.292%2030.537l-2.116%2026.654-5.113.883c-2.821.352-5.289-.176-5.642-1.236-.705-2.294-3.173-41.128-3.35-52.248-.176-4.413-.881-9.003-1.586-10.238-1.587-2.295-6.876-2.825-8.816-.883Zm-2.997%2021.889c0%201.94-.705%203.176-1.763%202.47-.882-.53-1.234-2.118-.529-3.53%201.234-3.707%202.292-3.354%202.292%201.06Z%27%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E&quot;);-webkit-mask-repeat:no-repeat;-webkit-mask-size:contain;-webkit-mask-position:center;max-width:800pxpx;">
		<MediumTitle titleText="We are the NGO that inspires the security and privacy leaders of the future." extraCss="text-center p-4 md:p-0"/>
		<br/>
		<Image class="rounded-3xl w-4/5 md:w-3/5 mx-auto" src={groupPhoto} alt="Barcelona cybersecurity final event group photo"/>
		<br/>
		<br/>
		<MediumTitle titleText="Our community in numbers" extraCss="text-center p-4 md:p-0"/>
		<br/>
		<!--<div class="grid grid-rows-4 grid-cols-1 md:grid-rows-1 md:grid-cols-[3.5fr,0.5fr,1fr,1fr,1fr] gap-4 mx-auto content-center w-4/5 px-6 pt-6 rounded-3xl bg-gradient-to-br from-[#3E37C9] to-[#000000]">-->
		<div class="md:grid md:grid-rows-1 md:grid-cols-[3.5fr,0.5fr,1fr,1fr,1fr] md:gap-4 mx-auto content-center w-4/5 px-6 pt-6 rounded-3xl bg-gradient-to-br from-[#3E37C9] to-[#000000]">
			<div>
				<MediumTitle titleText="Our Meetup community launched in 2016." extraCss="text-left"/>
				<Paragraph text="We've organised over 40 events since" extraCss="text-justify md:pb-4 pb-6"/>
			</div>
			<div class="hidden md:inline"/>
			<div class="my-1 md:my-auto h-auto md:pb-0 pb-6">
				<MediumTitle titleText="1200" extraCss="text-left"/>
				<Paragraph text="Members" extraCss="text-left"/>
			</div>
			<div class="my-1 md:my-auto h-auto md:pb-0 pb-6">
				<MediumTitle titleText="30" extraCss="text-left"/>
				<Paragraph text="Collaborations" extraCss="text-left"/>
			</div>
			<div class="my-1 md:my-auto h-auto md:pb-0 pb-4">
				<MediumTitle titleText="50+" extraCss="text-left"/>
				<Paragraph text="Speakers" extraCss="text-left"/>
			</div>
		</div>
		<br/>
		<br/>
		<MediumTitle titleText="Our audience" extraCss="text-center"/>
		<div class="md:grid md:grid-cols-[3fr,3fr,4fr] grid-rows-1 gap-4 mx-auto content-center w-4/5 p-6">
			<div class="mt-6 mb-4 md:mb-0">
				<CardWithTitleSubtitle photo={CybersecurityEnthusiastsPhoto} photoAltText="test test" title="Cybersecurity enthusiasts" subtitle="Our projects and ideas await, become the leader of tomorrow!"/>
			</div>
			<div class="my-auto">
				<CardWithTitleSubtitle photo={SeniorProfessionalsPhoto} photoAltText="test test" title="Senior professionals in cybersecurity" subtitle="Opportunity to mentor the best up and coming cybersecurity talent, inspire tomorrow's leaders!"/>
			</div>
			<div class="mt-4 md:ml-16">
				<p class="mb-4 text-2xl font-normal tracking-tight text-white text-left max-w-4xl mx-auto">Our community is made up of industry professionals committed to sharing their knowledge and experience.</p>
				<p class="mb-4 text-2xl font-normal tracking-tight text-white text-left max-w-4xl mx-auto">Whether you're interested in learning about the latest trends in cybersecurity, networking with others in the industry or keeping up to date, you’re in the right place.</p>
				<ul>
					<li class="mb-4 text-2xl font-normal tracking-tight text-white text-left max-w-4xl mx-auto">✓ Events</li>
					<li class="mb-4 text-2xl font-normal tracking-tight text-white text-left max-w-4xl mx-auto">✓ Trainings</li>
					<li class="mb-4 text-2xl font-normal tracking-tight text-white text-left max-w-4xl mx-auto">✓ Networking</li>
				</ul>
			</div>
		</div>
		<br/>
		<br/>
		<MediumTitle titleText="Our values" extraCss="text-center"/>
		<div class="md:grid md:grid-cols-2 md:grid-rows-1 md:gap-4 mx-auto content-center w-4/5 p-6">
			<div class="my-auto md:ml-16">
				<Image class="rounded-3xl md:w-4/5 mx-auto" src={ValuesPhoto} alt="Barcelona cybersecurity final event group photo"/>
			</div>
			<div class="mt-8">
				<div class="md:ml-16">
					<IconCardWithTitleSubtitle iconName="eye" title="Our vision" subtitle="Expand cybersecurity knowledge in Spain"/>
				</div>
				<br/>
				<div class="md:mr-16">
					<IconCardWithTitleSubtitle iconName="compass" title="Our mission" subtitle="Create a community where security and privacy enthusiasts come together to share knowledge and inspire tomorrow's security leaders."/>
				</div>
			</div>
			<br/>
		</div>
		<div class="max-w-6xl mx-auto mb-16">
			<CallToAction title="Do you want to be part of our community?" subtitle="New project ideas await you!" buttonText="I want to join!" buttonLink="/en/become-a-member/"/>
		</div>
		<br>
	</main>
	<Footer lang={lang}/>
</Layout>
