---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/screens/Header.astro";
import Footer from "../../../components/screens/Footer.astro";
import { Image } from "astro:assets";
import UpcomingEventPhoto from "../../../../public/img/events/secure-sdlc.webp";
import Main from "../../../components/ui/Main.astro";
import EventCard from "../../../components/ui/EventCard.astro";
import Content from "../../../components/ui/Content.astro";
import Page from "../../../components/ui/Page.astro";
import Heading from "../../../components/ui/Heading.astro";
import Card from "../../../components/ui/Card.astro";

import { events } from "../../../data/events.ts";

const lang = "en";
---

<Layout lang={lang} title="Events">
  <Page>
    <!-- Div including Header and Main which pushes the footer at the bottom of the page  -->
    <div>
      <Header lang={lang} />
      <Main>
        <Heading>
          <h1>Events</h1>
          <p>
            Welcome to the exciting world of cybersecurity events organized by
            our organization. We are committed to creating a unique space where
            professionals, enthusiasts and experts can come together and share
            their passion for cybersecurity. From meetups and trainings… to
            corporate and networking events, are you going to miss it?
          </p>
        </Heading>
        <Content>
          <section>
            <h2>Next Event</h2>
            <p>Don't miss it!</p>
            <div class="mt-12">
              <Card>
                <div class="flex flex-col md:flex-row-reverse gap-6">
                  <div class="flex flex-1">
                    <Image
                      class="rounded-lg w-full mx-auto"
                      src={UpcomingEventPhoto}
                      alt="Barcelona cybersecurity event photo"
                    />
                  </div>
                  <div class="flex flex-1">
                    <div class="flex flex-col justify-between">
                      <h3 class="text-2xl mt-6 mb-12">
                        <a
                          href="https://www.meetup.com/es-ES/barcelona-cybersecurity/events/300478646/"
                          target="blank"
                        >
                          Barcelona Cybersecurity's Afterwork: What do we need
                          to know about secure SDLC?
                        </a>
                      </h3>
                      <div>
                        <p>Thursday May 9th at 18:45</p>
                        <p>Cloudworks Passeig de Gràcia</p>
                      </div>
                    </div>
                  </div>
                </div>
              </Card>
            </div>
          </section>
          <section>
            <h2>Previous events</h2>
            <p>
              Explore all the events organized by Barcelona Cybersecurity! Join
              us and be part of the growth and strengthening of the
              cybersecurity industry!
            </p>
            <div
              class="max-w-[1100px] m-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-12"
            >
              {
                events
                  .sort((event1, event2) => (event1.id > event2.id ? -1 : 1))
                  .map((event) => (
                    <EventCard
                      title={event.title}
                      url={event.url}
                      imgSrc={event.imgSrc}
                      imgAltText={event.imgAltText}
                    />
                  ))
              }
            </div>
          </section>
        </Content>
      </Main>
    </div>
    <Footer lang={lang} />
  </Page>
</Layout>
