---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/screens/Header.astro";
import Footer from "../../../components/screens/Footer.astro";
import BigTitle from "../../../components/primitives/text/BigTitle.astro";
import MediumTitle from "../../../components/primitives/text/MediumTitle.astro";
import Paragraph from "../../../components/primitives/text/Paragraph.astro";
import TeamMemberCard from "../../../components/blocks/TeamMemberCard.astro";
import olmoPhoto from "../../../../public/img/pictures/olmo.jpg";
import lauraPhoto from "../../../../public/img/pictures/laura.jpg";
import eduPhoto from "../../../../public/img/pictures/edu.jpg";
import eliasPhoto from "../../../../public/img/pictures/elias.jpg";
import ivanPhoto from "../../../../public/img/pictures/ivan.jpeg";
import neusPhoto from "../../../../public/img/pictures/neus.png";
import IconCardWithText from "../../../components/blocks/IconCardWithText.astro";
import CardWithTitleSubtitle from "../../../components/blocks/CardWithTitleSubtitle.astro";
import CybersecurityEnthusiastsPhoto from "../../../../public/img/pictures/cybersecurity-enthusiasts.jpeg";
import SeniorProfessionalsPhoto from "../../../../public/img/pictures/senior-professionals.jpeg";

const lang = "es";
---

<Layout lang={lang} title="Sobre el proyecto">
  <Header lang={lang} />
  <main
    class="max-w-3xl bg-gradient-to-br from-[#465FFF] to-[#FFFFFF] md:max-w-none"
  >
    <br />
    <BigTitle titleText="El proyecto" extraCss="text-center" />
    <Paragraph
      text="Conoce a la gente que hace esto posible"
      extraCss="text-center"
    />
    <br />
    <MediumTitle titleText="Nuestra audiencia" extraCss="text-center" />
    <div
      class="mx-auto w-4/5 grid-rows-1 content-center gap-4 p-6 md:grid md:grid-cols-[3fr,3fr,4fr]"
    >
      <div class="mb-4 mt-6 md:mb-0">
        <CardWithTitleSubtitle
          photo={CybersecurityEnthusiastsPhoto}
          photoAltText="Entusiastas de la ciberseguridad"
          title="Entusiastas de la ciberseguridad"
          subtitle="Te esperan nuevas ideas de proyectos. ¡Conviértete en líder del mañana!"
        />
      </div>
      <div class="my-auto">
        <CardWithTitleSubtitle
          photo={SeniorProfessionalsPhoto}
          photoAltText="Profesionales con experiencia"
          title="Profesionales con experiencia en ciberseguridad"
          subtitle="La oportunidad de enseñar a la siguiente generación de líderes en ciberseguridad!"
        />
      </div>
      <div class="mt-4 md:ml-16">
        <p
          class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
        >
          Nuestra comunidad está formada por profesionales del sector
          comprometidos a compartir sus conocimientos y experiencia.
        </p>
        <p
          class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
        >
          Tanto si estás interesado en conocer las últimas tendencias en
          ciberseguridad, como en establecer contactos con otros profesionales
          del sector o mantenerte al día, estás en el lugar adecuado.
        </p>
        <ul>
          <li
            class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
          >
            ✓ Eventos
          </li>
          <li
            class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
          >
            ✓ Trainings
          </li>
          <li
            class="mx-auto mb-4 max-w-4xl text-left text-2xl font-normal tracking-tight text-white"
          >
            ✓ Networking
          </li>
        </ul>
      </div>
    </div>
    <br />
    <MediumTitle titleText="El equipo" extraCss="text-center" />
    <Paragraph text="El equipo tras el telón" extraCss="text-center" />
    <div
      class="mx-auto w-5/6 grid-cols-1 content-center gap-16 rounded-3xl p-6 md:grid md:w-2/3 md:grid-cols-3 md:grid-rows-1"
    >
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={olmoPhoto}
          photoAltText="Olmo Rayón"
          name="Olmo Rayón"
          position="Presidente & responsable de coordinación"
          linkedinLink="https://www.linkedin.com/in/olmorayon/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={lauraPhoto}
          photoAltText="Laura Del Barrio"
          name="Laura Del Barrio"
          position="Gestión & responsable de Operaciones"
          linkedinLink="https://www.linkedin.com/in/laura-del-barrio-diaz/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={eduPhoto}
          photoAltText="Eduard Xancó"
          name="Eduard Xancó"
          position="Tesorería & responsable de Corporate"
          linkedinLink="https://www.linkedin.com/in/eduardxanco/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={eliasPhoto}
          photoAltText="Elías Solana"
          name="Elías Solana"
          position="Relaciones Exteriores"
          linkedinLink="https://www.linkedin.com/in/elias-solana/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={ivanPhoto}
          photoAltText="Iván Mendez"
          name="Iván Mendez"
          position="Creación de contenido"
          linkedinLink="https://www.linkedin.com/in/ivanmendezrodriguez/"
        />
      </div>
      <div class="pb-6 md:pb-0">
        <TeamMemberCard
          photo={neusPhoto}
          photoAltText="Neus Boix"
          name="Neus Boix"
          position="Soporte de Operaciones"
          linkedinLink="https://www.linkedin.com/in/nbc-1885aa108"
        />
      </div>
    </div>
    <br />
    <div class="mx-auto mb-16 w-5/6 md:w-2/3">
      <div
        class="mx-auto flex w-auto flex-col content-center items-center rounded-3xl bg-gradient-to-br from-[#465FFF] to-[#837EDC] p-4 md:p-6 md:px-32 md:py-16"
      >
        <MediumTitle titleText="Nuestros objetivos" extraCss="text-center" />
        <Paragraph
          text="Nuestra organización y comunidad se basan en estos mantras:"
          extraCss="text-center"
        />
        <br />
        <div
          class="mx-auto grid w-full grid-cols-1 content-center gap-8 rounded-3xl p-6 md:grid-cols-3 md:grid-rows-1"
        >
          <IconCardWithText iconName="handshake" text="Una comunidad fuerte" />
          <IconCardWithText iconName="map" text="Organización sostenible" />
          <IconCardWithText iconName="compass" text="Los mejores productos" />
        </div>
      </div>
    </div>
    <br />
  </main>
  <Footer lang={lang} />
</Layout>
