---
import Layout from '../../../layouts/Layout.astro';
import Header from '../../../components/screens/Header.astro';
import Footer from '../../../components/screens/Footer.astro';
import BigTitle from '../../../components/primitives/text/BigTitle.astro';
import Paragraph from '../../../components/primitives/text/Paragraph.astro';
import SmallTitle from '../../../components/primitives/text/SmallTitle.astro';
import Image from 'astro/components/Image.astro';
import eventPhoto from '../../../../public/img/pictures/meetup-photo.jpeg'

const lang = "en"
---

<Layout title="What we do">
	<main class="bg-gradient-to-br from-[#465FFF] to-[#FFFFFF] max-w-3xl md:max-w-none">
		<Header lang={lang}/>
		<br/>
		<BigTitle titleText="What we do" extraCss="text-center"/>
		<Paragraph text="More information about the events we organize" extraCss="text-center"/>
		<br/>
		<div class="grid md:grid-cols-3 grid-cols-1 md:grid-rows-1 gap-24 mx-auto content-center w-2/3 p-6 rounded-3xl">
			<div>
				<SmallTitle titleText="Meetup" extraCss="text-left"/>
				<Image class="rounded-3xl w-auto mx-auto" src={eventPhoto} alt="Meetup event"/>
				<br/>
				<Paragraph text="Conversations with experts on technical topics with a networking session at the end." extraCss="text-justify"/>
				<br/>
				<Paragraph text="A new event every month!" extraCss="text-justify"/>
			</div>
			<div>
				<div class="grid md:grid-cols-[3.5fr,0.5fr] grid-cols-2gap-4 mx-auto content-center">
					<div class="my-auto">
						<SmallTitle titleText="Startups Hub" extraCss="text-left"/>
					</div>
					<div class="my-auto mb-4">
						<a role="button" class="bg-black text-white text-md px-4 py-2 border rounded-full">
							New
				 		</a>
					</div>
				</div>
				<Image class="rounded-3xl w-auto mx-auto" src={eventPhoto} alt="Meetup event"/>
				<br/>
				<Paragraph text="The place where the most cutting-edge cybersecurity startups will meet"  extraCss="text-justify"/>
				<br/>
				<Paragraph text="More information coming soon!" extraCss="text-justify"/>
			</div>
			<div>
				<div class="grid md:grid-cols-[3.5fr,0.5fr] grid-cols-2gap-4 mx-auto content-center">
					<div class="my-auto">
						<SmallTitle titleText="CISO Club" extraCss="text-left"/>
					</div>
					<div class="my-auto mb-4">
						<a role="button" class="bg-black text-white text-md px-4 py-2 border rounded-full">
							New
				 		</a>
					</div>
				</div>
				<Image class="rounded-3xl w-auto mx-auto" src={eventPhoto} alt="Meetup event"/>
				<br/>
				<Paragraph text="CISO Club is an exclusive hub designed for information security leaders to provide a collaborative and learning environment for Barcelona's CISOs."  extraCss="text-justify"/>
			</div>
		</div>
		<br/>
		<Footer lang={lang}/>
	</main>
</Layout>
